@import url("https://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css");
@font-face {
  font-family: 'Montserrat';
  src: url("../fonts/Montserrat-Regular.ttf");
}

body {
  margin: 0;
  padding: 0;
}

.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar__logo {
  margin: 1% 23% 1% 12%;
}

.navbar__img {
  width: 106px;
  height: 40px;
}

.navbar__submenu {
  padding: 0;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.navbar__submenu li {
  list-style-type: none;
  display: inline-block;
  margin-right: 20px;
}

.not-active {
  color: rgba(31, 32, 65, 0.5);
}

.active {
  color: rgba(31, 32, 65, 0.75);
}

.navbar__link:hover .expand_more {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.navbar__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.navbar__buttons .navbar__button {
  width: auto;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: double 2px transparent;
  border-radius: 22px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(white), to(white)), radial-gradient(at top center, #BC9CFF, #8BA4F9);
  background-image: linear-gradient(white, white), radial-gradient(at top center, #BC9CFF, #8BA4F9);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  margin-right: 20px;
}

.navbar__buttons .navbar__button:hover {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#BC9CFF), to(#8BA4F9));
  background-image: linear-gradient(#BC9CFF, #8BA4F9);
}

.navbar__buttons .navbar__link {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  line-height: 15px;
  font-size: 12px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px 10px 20px;
  color: #BC9CFF;
}

.navbar__buttons .navbar__link:hover {
  color: #FFFFFF;
}

.foo {
  height: 360px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 100px;
}

.foo .foo__description {
  margin: 0 40px 140px 12%;
}

.foo .foo__description .foo__logo {
  margin-bottom: 20px;
}

.foo .foo__description .foo_desc {
  width: 260px;
  height: 72px;
}

.foo .foo__description .foo_desc span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.foo .foo__list-wrap {
  margin-left: 75px;
}

.foo .foo__list-wrap .foo__list-list {
  list-style-type: none;
  padding: 0px;
}

.foo .foo__list-wrap .foo__list-list .foo__list-li {
  margin-bottom: 20px;
}

.foo .foo__list-wrap .foo__list-list a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #1F2041;
  opacity: 50%;
}

.foo .foo__header {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 15px;
  text-transform: uppercase;
  color: #1F2041;
  margin-bottom: 20px;
}

.foo .foo__subscription {
  margin-left: 100px;
}

.foo .foo__subscription .foo__desc {
  width: 260px;
  height: 48px;
  margin-bottom: 20px;
}

.foo .foo__subscription .foo__desc span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
}

.foo .foo__subscription .foo__email {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foo .foo__subscription .foo__email .foo_input {
  width: 260px;
  height: 44px;
  border: 1px solid rgba(31, 32, 65, 0.25);
  border-radius: 4px;
}

.foo .foo__subscription .foo__email .foo__link {
  position: absolute;
  width: 24px;
  height: 24px;
  margin: 10px 10px 10px 232px;
}

.foo .foo__subscription .foo__email .foo__link .foo__arrow {
  width: 24px;
  height: 24px;
}

.foo input::-webkit-input-placeholder {
  padding-left: 15px;
  font-family: 'Montserrat';
  font-size: 14px;
  color: #1F2041;
  opacity: 25%;
}

.foo input:-ms-input-placeholder {
  padding-left: 15px;
  font-family: 'Montserrat';
  font-size: 14px;
  color: #1F2041;
  opacity: 25%;
}

.foo input::-ms-input-placeholder {
  padding-left: 15px;
  font-family: 'Montserrat';
  font-size: 14px;
  color: #1F2041;
  opacity: 25%;
}

.foo input::placeholder {
  padding-left: 15px;
  font-family: 'Montserrat';
  font-size: 14px;
  color: #1F2041;
  opacity: 25%;
}

.foo__copyrightBar {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 12%;
}

.foo__copyrightBar .foo__copyright span {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: rgba(31, 32, 65, 0.75);
  margin: 25px 810px 25px 0;
}

.foo__copyrightBar .foo__social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.foo__copyrightBar .foo__social a {
  width: 24px;
  height: 24px;
  margin-right: 20px;
}

.foo__copyrightBar .foo__social img {
  width: 24px;
  height: 24px;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container .filter {
  display: block;
  margin-left: 150px;
}

.container .filter .filter__date input, .container .filter .filter__date label {
  display: block;
}

.container .filter .filter__guests input, .container .filter .filter__guests label {
  display: block;
}

.container .filter .filter__price {
  width: 265px;
}

.container .filter .filter__price .filter__price-info {
  display: inline;
}

.container .filter .filter__price .filter__price-info label {
  width: 120px;
}

.container .filter .filter__price .filter__price-info input {
  margin-left: 40px;
  width: 105px;
}

.container .filter .filter__price input[type='range'] {
  width: 260px;
  margin-top: 38px;
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  background-color: transparent;
  pointer-events: none;
  left: 148px;
}

.container .filter .filter__price .slider-track {
  margin-top: 20px;
  width: 258px;
  position: absolute;
  height: 5px;
  border-radius: 3px;
  border: solid 1px;
  border-color: rgba(31, 32, 65, 0.25);
  /*
        border-radius: 3px;
        border: solid 1px;
        border-color: rgba(#1F2041, 0.25);
        background-color: #FFFFFF;*/
}

.container .filter .filter__price input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  height: 5px;
}

.container .filter .filter__price input[type="range"]::-moz-range-track {
  -moz-appearance: none;
  height: 5px;
}

.container .filter .filter__price input[type="range"]::-ms-track {
  appearance: none;
  height: 5px;
}

.container .filter .filter__price input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: -webkit-gradient(linear, left top, left bottom, from(#6FCF97), to(#66D2EA));
  background: linear-gradient(#6FCF97, #66D2EA);
  border-radius: 10px;
  border: solid #FFFFFF 2px;
  cursor: pointer;
  pointer-events: auto;
}

.container .filter .filter__price input[type="range"]::-moz-range-thumb {
  -webkit-appearance: none;
  height: 14px;
  width: 14px;
  background: linear-gradient(#6FCF97, #66D2EA);
  border-radius: 10px;
  border: solid #FFFFFF 2px;
  cursor: pointer;
  pointer-events: auto;
}

.container .filter .filter__price input[type="range"]::-ms-thumb {
  appearance: none;
  height: 14px;
  width: 14px;
  background: linear-gradient(#6FCF97, #66D2EA);
  border-radius: 10px;
  border: solid #FFFFFF 2px;
  cursor: pointer;
  pointer-events: auto;
}

.container .filter .filter__price input[type="range"]:active::-webkit-slider-thumb {
  background: #FFFFFF;
  border: solid #6FCF97 2px;
}
